@model MenuMaker.Models.MenuEditVM

@section Scripts {
    <script src="@Url.Content("~/Content/Controllers/MenuController/input-area.js")"></script>
}

@{
    ViewBag.Title = "Edit";

    var weekDays = (List<MenuMaker.Models.DayViewModel>)ViewData["WeekDays"];
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MenuViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonsCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonsCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonsCount, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var day in weekDays)
        {
            <div class="form-group">
                <h4>
                    @Html.Label(day.Name, new { @class = "control-label col-md-2" })
                </h4>
            </div>
            <div class="week-day">
                <div class="recipe-input-fields">
                    @foreach (var menuRecipe in Model.MenuRecipes.Where(i => i.DayId == day.Id).ToList())
                    {
                        var recipeDropdownSelectList = new SelectList(Model.RecipeViewModelsDropdownList, "id", "name", menuRecipe.RecipeId);

                        <div class="form-group">
                            @Html.Label("RecipeId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("RecipeId", recipeDropdownSelectList, "-No recipe selected-", htmlAttributes: new { @class = "form-control" })
                                <input name="DayId" value=@day.Id hidden />
                            </div>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Add recipe" class="btn btn-default" style='width:120px' onclick="GetDynamicRecipeInputFields(this)" />
                    </div>
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
