@model IEnumerable<MenuMaker.Models.BuyListViewModel>

@{
    ViewBag.Title = "GenerateBuyList";
    //Layout = "_BuyListLayout.cshtml";
}

<h2>BuyList for menu #@Model.FirstOrDefault().MenuId</h2>

<table class="table" width="800px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }

</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Get PDF", "GetPDF", new { id = Model.FirstOrDefault().MenuId })
    </div>
</div>
